html, body  {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-family: helvetica, sans-serif;
}
body {
    background: pink;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  